<h2 style="height: 100px;">router</h2>

<h3 class="text-center">Descubre como llegar a donde tu quieras 😉</h3>
<div class="container-fluid mt-5" id='map' style='width: 800px; height: 500px;'></div>
<div style="height: 184px;"></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYXJtYW5kZXYiLCJhIjoiY2tvc3d4ZXBlMDU0eTJ3cnJ1dWprNWhkdSJ9.oUs25a-4yp7SPk33PaZqTA';
    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      zoom: 12
    });

  map.addControl(
    new MapboxDirections({
      accessToken: mapboxgl.accessToken
    }),
    'top-left'
  )

  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(position => {
      const center = [
        position.coords.longitude,
        position.coords.latitude
      ]
      map.setCenter(center)
      new mapboxgl.Marker().setLngLat(center).addTo(map)
    })
  }
</script>